In [1]:
import gzip
import json
import pandas as pd
import xgboost as xgb
# Read data.info table ====================================================================================================
data = pd.read_csv("data.info")
data = pd.DataFrame(data)
data['transcript_position'] = data['transcript_position'].astype(int)

In [2]:
objs0=[]
with gzip.open("dataset0.json.gz", 'rt') as f:
    for line in f:
        objs0.append(json.loads(line))



rows0 = []
for i in range(len(objs0)):
    for key1, inner_dict in objs0[i].items():
        for key2, inner_list in inner_dict.items():
            for key3, sublist in inner_list.items():
                for subsublist in sublist:
                    rows0.append([key1, key2, key3] + subsublist)
                    
df0 = pd.DataFrame(rows0, columns=["transcript_id", "transcript_position", "combined nucleotides", "dwelling_time1", "sd1", "mean1", "dwelling_time2", "sd2", "mean2", "dwelling_time3", "sd3", "mean3"])
df0['transcript_position'] = df0['transcript_position'].astype(int)


#df0info = pd.merge(df0, data, on=['transcript_id', 'transcript_position'], how='inner')

In [12]:
df0.to_pickle('df0.pkl')
df1.to_pickle('df1.pkl')
df2.to_pickle('df2.pkl')

In [3]:
objs1=[]
with gzip.open("dataset1.json.gz", 'rt') as f:
    for line in f:
        objs1.append(json.loads(line))
        
rows1 = []
for i in range(len(objs1)):
    for key1, inner_dict in objs1[i].items():
        for key2, inner_list in inner_dict.items():
            for key3, sublist in inner_list.items():
                for subsublist in sublist:
                    rows1.append([key1, key2, key3] + subsublist)                    
df1 = pd.DataFrame(rows1, columns=["transcript_id", "transcript_position", "combined nucleotides", "dwelling_time1", "sd1", "mean1", "dwelling_time2", "sd2", "mean2", "dwelling_time3", "sd3", "mean3"])
df1['transcript_position'] = df1['transcript_position'].astype(int)
#df1info = pd.merge(df1, data, on=['transcript_id', 'transcript_position'], how='inner')

In [8]:
df0.to_csv('df0.csv')

In [4]:
df0

,transcript_id,transcript_position,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3
0,ENST00000000233,244,AAGACCA,0.00299,2.06,125.0,0.01770,10.40,122.0,0.00930,10.90,84.1
1,ENST00000000233,244,AAGACCA,0.00631,2.53,125.0,0.00844,4.67,126.0,0.01030,6.30,80.9
2,ENST00000000233,244,AAGACCA,0.00465,3.92,109.0,0.01360,12.00,124.0,0.00498,2.13,79.6
3,ENST00000000233,244,AAGACCA,0.00398,2.06,125.0,0.00830,5.01,130.0,0.00498,3.78,80.4
4,ENST00000000233,244,AAGACCA,0.00664,2.92,120.0,0.00266,3.94,129.0,0.01300,7.15,82.2
...,...,...,...,...,...,...,...,...,...,...,...,...
11027101,ENST00000641834,1693,TTGACAT,0.00418,7.49,108.0,0.00564,10.20,116.0,0.01000,2.01,76.4
11027102,ENST00000641834,1693,TTGACAT,0.00664,1.91,109.0,0.00598,12.30,110.0,0.01760,2.61,74.6
11027103,ENST00000641834,1693,TTGACAT,0.00721,4.58,105.0,0.00398,6.58,113.0,0.00316,2.28,85.3
11027104,ENST00000641834,1693,TTGACAT,0.00266,2.33,109.0,0.00913,10.40,108.0,0.00664,4.44,76.8
11027105,ENST00000641834,1693,TTGACAT,0.00564,3.13,110.0,0.00303,9.98,118.0,0.01930,1.79,76.2

In [ ]:
#df0info

In [9]:
df1.to_csv('df1.csv')

In [5]:
df1

,transcript_id,transcript_position,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3
0,ENST00000000233,244,AAGACCA,0.00465,2.16,127.0,0.00640,3.90,127.0,0.00797,8.75,83.7
1,ENST00000000233,244,AAGACCA,0.02690,4.43,106.0,0.01860,10.00,123.0,0.00863,6.20,80.0
2,ENST00000000233,244,AAGACCA,0.00432,3.10,108.0,0.01200,8.26,125.0,0.01590,2.89,78.7
3,ENST00000000233,244,AAGACCA,0.00996,4.52,123.0,0.01750,8.51,128.0,0.00498,2.63,80.0
4,ENST00000000233,244,AAGACCA,0.00764,2.81,124.0,0.00772,4.22,126.0,0.00474,5.84,80.9
...,...,...,...,...,...,...,...,...,...,...,...,...
7907947,ENST00000641784,3266,CTAACTT,0.00589,1.20,93.5,0.00270,1.58,102.0,0.01530,2.19,92.3
7907948,ENST00000641784,3266,CTAACTT,0.00401,2.00,92.1,0.00764,3.00,99.1,0.00469,1.37,92.6
7907949,ENST00000641784,3266,CTAACTT,0.00430,1.32,91.8,0.00270,1.33,100.0,0.00550,1.37,93.9
7907950,ENST00000641784,3266,CTAACTT,0.00280,2.70,90.7,0.00564,1.45,100.0,0.01600,1.90,92.3
7907951,ENST00000641784,3266,CTAACTT,0.00332,3.17,91.7,0.00432,2.10,102.0,0.01320,1.72,93.5

In [ ]:
#df1info

In [6]:
objs2=[]
with gzip.open("dataset2.json.gz", 'rt') as f:
    for line in f:
        objs2.append(json.loads(line))

rows2 = []
for i in range(len(objs2)):
    for key1, inner_dict in objs2[i].items():
        for key2, inner_list in inner_dict.items():
            for key3, sublist in inner_list.items():
                for subsublist in sublist:
                    rows2.append([key1, key2, key3] + subsublist)     

df2 = pd.DataFrame(rows2, columns=["transcript_id", "transcript_position", "combined nucleotides", "dwelling_time1", "sd1", "mean1", "dwelling_time2", "sd2", "mean2", "dwelling_time3", "sd3", "mean3"])
df2['transcript_position'] = df2['transcript_position'].astype(int)

In [10]:
df2.to_csv('df.csv')

In [7]:
df2

,transcript_id,transcript_position,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3
0,tx_id_0,0,AAAACCT,0.01220,3.99,106.0,0.00337,4.56,102.0,0.00664,4.200,84.2
1,tx_id_0,0,AAAACCT,0.03020,2.32,107.0,0.00443,2.36,102.0,0.00332,2.130,79.2
2,tx_id_0,0,AAAACCT,0.00232,5.55,110.0,0.00664,7.04,99.3,0.00232,2.210,86.6
3,tx_id_0,0,AAAACCT,0.00465,2.10,104.0,0.00996,3.90,108.0,0.00401,2.180,82.2
4,tx_id_0,0,AAAACCT,0.02110,3.49,103.0,0.00531,3.80,101.0,0.00997,2.180,81.2
...,...,...,...,...,...,...,...,...,...,...,...,...
1171935,tx_id_6,1880,CGAACAA,0.00675,8.33,111.0,0.00759,6.15,104.0,0.00896,2.420,91.6
1171936,tx_id_6,1880,CGAACAA,0.00529,4.81,106.0,0.00332,7.42,101.0,0.00996,1.940,90.9
1171937,tx_id_6,1880,CGAACAA,0.01460,7.72,104.0,0.00266,1.21,92.4,0.02150,2.110,90.0
1171938,tx_id_6,1880,CGAACAA,0.00610,4.21,119.0,0.00232,5.44,94.8,0.00199,2.000,82.6
1171939,tx_id_6,1880,CGAACAA,0.00232,3.02,96.8,0.00465,1.20,91.5,0.00398,0.913,89.8

In [11]:
data

                gene_id    transcript_id  transcript_position  label
0       ENSG00000004059  ENST00000000233                  244      0
1       ENSG00000004059  ENST00000000233                  261      0
2       ENSG00000004059  ENST00000000233                  316      0
3       ENSG00000004059  ENST00000000233                  332      0
4       ENSG00000004059  ENST00000000233                  368      0
...                 ...              ...                  ...    ...
121833  ENSG00000167747  ENST00000641834                 1348      1
121834  ENSG00000167747  ENST00000641834                 1429      0
121835  ENSG00000167747  ENST00000641834                 1531      1
121836  ENSG00000167747  ENST00000641834                 1537      0
121837  ENSG00000167747  ENST00000641834                 1693      0

[121838 rows x 4 columns]

In [172]:
df0 = pd.read_pickle("df0.pkl")
df1 = pd.read_pickle("df1.pkl")
df2 = pd.read_pickle("df2.pkl")

In [120]:
import pickle
import xgboost as xgb

In [221]:
df1info = pd.merge(df1, data, on=['transcript_id', 'transcript_position'], how='inner')

In [222]:
og_df = df1info.iloc[: , 1:]
og_df

,transcript_id,transcript_position,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3,gene_id,label
0,ENST00000000233,244,AAGACCA,0.00465,2.16,127.0,0.00640,3.90,127.0,0.00797,8.75,83.7,ENSG00000004059,0
1,ENST00000000233,244,AAGACCA,0.02690,4.43,106.0,0.01860,10.00,123.0,0.00863,6.20,80.0,ENSG00000004059,0
2,ENST00000000233,244,AAGACCA,0.00432,3.10,108.0,0.01200,8.26,125.0,0.01590,2.89,78.7,ENSG00000004059,0
3,ENST00000000233,244,AAGACCA,0.00996,4.52,123.0,0.01750,8.51,128.0,0.00498,2.63,80.0,ENSG00000004059,0
4,ENST00000000233,244,AAGACCA,0.00764,2.81,124.0,0.00772,4.22,126.0,0.00474,5.84,80.9,ENSG00000004059,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7102083,ENST00000641784,3266,CTAACTT,0.00589,1.20,93.5,0.00270,1.58,102.0,0.01530,2.19,92.3,ENSG00000284707,0
7102084,ENST00000641784,3266,CTAACTT,0.00401,2.00,92.1,0.00764,3.00,99.1,0.00469,1.37,92.6,ENSG00000284707,0
7102085,ENST00000641784,3266,CTAACTT,0.00430,1.32,91.8,0.00270,1.33,100.0,0.00550,1.37,93.9,ENSG00000284707,0
7102086,ENST00000641784,3266,CTAACTT,0.00280,2.70,90.7,0.00564,1.45,100.0,0.01600,1.90,92.3,ENSG00000284707,0
7102087,ENST00000641784,3266,CTAACTT,0.00332,3.17,91.7,0.00432,2.10,102.0,0.01320,1.72,93.5,ENSG00000284707,0

In [223]:
count_df1 = og_df.groupby(['transcript_id', 'transcript_position']).size().reset_index(name='read_count')
count_df2 = og_df.groupby(['transcript_id']).size().reset_index(name='expression_count') #most genes are likely to produce unique transcripts
df = og_df.merge(count_df1, on=['transcript_id', 'transcript_position'])
df = df.merge(count_df2, on=['transcript_id'])

agg_functions = {
    'gene_id': 'first',
    'combined nucleotides': 'first',
    'dwelling_time1': 'mean',
    'sd1': 'mean',
    'mean1': 'mean',
    'dwelling_time2': 'mean',
    'sd2': 'mean',
    'mean2': 'mean',
    'dwelling_time3': 'mean',
    'sd3': 'mean',
    'mean3': 'mean',
    'label': 'sum'
}

summary_df = og_df.groupby(['transcript_id', 'transcript_position']).agg(agg_functions).reset_index()

summary_df = summary_df.merge(count_df1, on=['transcript_id', 'transcript_position'])
summary_df = summary_df.merge(count_df2, on=['transcript_id'])

summary_df['label_percentage'] = summary_df['label'] / summary_df['read_count'] * 100
summary_df = summary_df.rename(columns={'label': 'label_sum'})
summary_df['label'] = summary_df['label_percentage'].apply(lambda x: 0 if x == 0 else 1)

In [224]:
agg_functions = {
    'gene_id': 'first',
    'combined nucleotides': 'first',
    'dwelling_time1': 'mean',
    'sd1': 'mean',
    'mean1': 'mean',
    'dwelling_time2': 'mean',
    'sd2': 'mean',
    'mean2': 'mean',
    'dwelling_time3': 'mean',
    'sd3': 'mean',
    'mean3': 'mean',
    'label': 'first'
}

summary_df1 = og_df.groupby(['transcript_id', 'transcript_position']).agg(agg_functions).reset_index()
summary_df1['label'].equals(summary_df['label'])

True

In [225]:
summary_df = summary_df.drop(columns=['label_percentage', 'label_sum'])

In [226]:
# function to convert features
def sequence_to_features(seq):
    """
    Convert a 7-letter sequence into binary features for the first and last letters.
    
    Parameters:
    - seq: A string of 7 letters (A, T, C, G)
    
    Returns:
    - A dictionary with binary features for the first and last letters.
    """
    letters = ['A', 'T', 'C', 'G']
    features = {}
    
    first_char = seq[0]
    last_char = seq[-1]
    
    for letter in letters:
        features[f"1{letter}"] = first_char == letter
        features[f"7{letter}"] = last_char == letter
            
    return features

In [227]:
new_df = summary_df.copy()

feature_dicts = new_df['combined nucleotides'].apply(sequence_to_features)
features_df = feature_dicts.apply(pd.Series)
new_df = pd.concat([new_df, features_df], axis=1)

In [228]:
new_df['5-mer'] = new_df['combined nucleotides'].apply(lambda x: x[1:-1])
new_df.groupby(['5-mer'])['label'].sum().sort_values(ascending=False)

5-mer
GGACT    897
GAACT    474
GGACA    399
AGACT    330
GGACC    310
TGACT    267
AAACT    147
GAACA     98
AGACA     87
GAACC     82
TGACC     58
TGACA     42
TAACT     41
AGACC     28
AAACA     23
AAACC      6
TAACA      1
TAACC      1
Name: label, dtype: int64

In [229]:
from sklearn.preprocessing import LabelEncoder

combined = new_df.copy()

label_encoder = LabelEncoder()
combined['transcript_id'] = label_encoder.fit_transform(combined['transcript_id'])
combined['gene_id'] = label_encoder.fit_transform(combined['gene_id'])
combined

,transcript_id,transcript_position,gene_id,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,...,label,1A,7A,1T,7T,1C,7C,1G,7G,5-mer
0,0,244,5,AAGACCA,0.008722,3.990545,123.090909,0.010218,6.716545,125.503030,...,0,True,True,False,False,False,False,False,False,AGACC
1,0,261,5,CAAACTG,0.006292,2.849892,109.027711,0.007084,3.197289,107.190964,...,0,False,False,False,False,True,False,False,True,AAACT
2,0,316,5,GAAACAG,0.007237,2.782710,105.440237,0.007050,3.463964,98.539053,...,0,False,False,False,False,False,False,True,True,AAACA
3,0,332,5,AGAACAT,0.010299,6.042386,129.304348,0.008195,2.733641,97.320652,...,0,True,False,False,True,False,False,False,False,GAACA
4,0,368,5,AGGACAA,0.011535,6.031751,118.000000,0.012108,5.748927,121.485876,...,0,True,True,False,False,False,False,False,False,GGACA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67315,3421,1348,1769,GGGACAT,0.010009,3.119023,118.167630,0.008217,4.816532,117.213873,...,1,False,False,False,True,False,False,True,False,GGACA
67316,3421,1429,1769,CTGACAC,0.008481,4.634631,110.052349,0.012667,8.901409,114.590604,...,0,False,False,False,False,True,True,False,False,TGACA
67317,3421,1531,1769,TGGACAC,0.007289,3.702195,113.851562,0.007072,4.365023,114.125000,...,1,False,False,True,False,False,True,False,False,GGACA
67318,3421,1537,1769,CTGACCA,0.006971,3.148815,109.843704,0.006916,6.331704,122.340741,...,0,False,True,False,False,True,False,False,False,TGACC
67319,3421,1693,1769,TTGACAT,0.006879,3.576822,105.493458,0.007417,8.748692,113.588785,...,0,False,False,True,True,False,False,False,False,TGACA

In [230]:
combined = pd.get_dummies(combined, columns=['5-mer'], drop_first=False)
combined

,transcript_id,transcript_position,gene_id,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,...,5-mer_GAACT,5-mer_GGACA,5-mer_GGACC,5-mer_GGACT,5-mer_TAACA,5-mer_TAACC,5-mer_TAACT,5-mer_TGACA,5-mer_TGACC,5-mer_TGACT
0,0,244,5,AAGACCA,0.008722,3.990545,123.090909,0.010218,6.716545,125.503030,...,False,False,False,False,False,False,False,False,False,False
1,0,261,5,CAAACTG,0.006292,2.849892,109.027711,0.007084,3.197289,107.190964,...,False,False,False,False,False,False,False,False,False,False
2,0,316,5,GAAACAG,0.007237,2.782710,105.440237,0.007050,3.463964,98.539053,...,False,False,False,False,False,False,False,False,False,False
3,0,332,5,AGAACAT,0.010299,6.042386,129.304348,0.008195,2.733641,97.320652,...,False,False,False,False,False,False,False,False,False,False
4,0,368,5,AGGACAA,0.011535,6.031751,118.000000,0.012108,5.748927,121.485876,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67315,3421,1348,1769,GGGACAT,0.010009,3.119023,118.167630,0.008217,4.816532,117.213873,...,False,True,False,False,False,False,False,False,False,False
67316,3421,1429,1769,CTGACAC,0.008481,4.634631,110.052349,0.012667,8.901409,114.590604,...,False,False,False,False,False,False,False,True,False,False
67317,3421,1531,1769,TGGACAC,0.007289,3.702195,113.851562,0.007072,4.365023,114.125000,...,False,True,False,False,False,False,False,False,False,False
67318,3421,1537,1769,CTGACCA,0.006971,3.148815,109.843704,0.006916,6.331704,122.340741,...,False,False,False,False,False,False,False,False,True,False
67319,3421,1693,1769,TTGACAT,0.006879,3.576822,105.493458,0.007417,8.748692,113.588785,...,False,False,False,False,False,False,False,True,False,False

In [231]:
combined = combined.drop(columns=['combined nucleotides'])
combined

,transcript_id,transcript_position,gene_id,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,...,5-mer_GAACT,5-mer_GGACA,5-mer_GGACC,5-mer_GGACT,5-mer_TAACA,5-mer_TAACC,5-mer_TAACT,5-mer_TGACA,5-mer_TGACC,5-mer_TGACT
0,0,244,5,0.008722,3.990545,123.090909,0.010218,6.716545,125.503030,0.006773,...,False,False,False,False,False,False,False,False,False,False
1,0,261,5,0.006292,2.849892,109.027711,0.007084,3.197289,107.190964,0.007168,...,False,False,False,False,False,False,False,False,False,False
2,0,316,5,0.007237,2.782710,105.440237,0.007050,3.463964,98.539053,0.007141,...,False,False,False,False,False,False,False,False,False,False
3,0,332,5,0.010299,6.042386,129.304348,0.008195,2.733641,97.320652,0.005806,...,False,False,False,False,False,False,False,False,False,False
4,0,368,5,0.011535,6.031751,118.000000,0.012108,5.748927,121.485876,0.009484,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67315,3421,1348,1769,0.010009,3.119023,118.167630,0.008217,4.816532,117.213873,0.007304,...,False,True,False,False,False,False,False,False,False,False
67316,3421,1429,1769,0.008481,4.634631,110.052349,0.012667,8.901409,114.590604,0.005008,...,False,False,False,False,False,False,False,True,False,False
67317,3421,1531,1769,0.007289,3.702195,113.851562,0.007072,4.365023,114.125000,0.006613,...,False,True,False,False,False,False,False,False,False,False
67318,3421,1537,1769,0.006971,3.148815,109.843704,0.006916,6.331704,122.340741,0.006476,...,False,False,False,False,False,False,False,False,True,False
67319,3421,1693,1769,0.006879,3.576822,105.493458,0.007417,8.748692,113.588785,0.007295,...,False,False,False,False,False,False,False,True,False,False

In [232]:
combined.value_counts('gene_id')

gene_id
1311    192
307     182
250     181
1506    177
2120    173
       ...
600       1
2327      1
748       1
2329      1
2351      1
Name: count, Length: 2501, dtype: int64

In [233]:
X = combined.drop('label', axis=1)
y = combined['label']

In [234]:
from imblearn.under_sampling import TomekLinks, RandomUnderSampler
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE, ADASYN
from imblearn.combine import SMOTETomek

# ADASYN followed by Tomek Links Pipeline
adasyn_tomek = Pipeline([
    ('adasyn', ADASYN(random_state=42)),
    ('tomek', TomekLinks())
])

# Dictionary of resampling methods
resampling_methods = {
    'RandomUnderSampler': RandomUnderSampler(random_state=42),
    'TomekLinks': TomekLinks(),
    'SMOTE': SMOTE(random_state=42),
    'ADASYN': ADASYN(random_state=42),
    'SMOTETomek': SMOTETomek(random_state=42),
    'ADASYN_Tomek': adasyn_tomek
}

In [235]:
import numpy as np
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GroupShuffleSplit
from sklearn.preprocessing import MinMaxScaler
import xgboost as xgb

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report, roc_auc_score, roc_curve, precision_recall_curve

# Initialize GroupShuffleSplit
group_shuffle_split = GroupShuffleSplit(n_splits=5, test_size=0.2, random_state=42)

# Drop 'gene_id' from X
X1_min_features = X.drop(columns=['gene_id', 'transcript_id', 'transcript_position'])
X2_min_features = X.drop(columns=['gene_id', 'transcript_id'])

In [236]:
summary_df

,transcript_id,transcript_position,gene_id,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3,read_count,expression_count,label
0,ENST00000000233,244,ENSG00000004059,AAGACCA,0.008722,3.990545,123.090909,0.010218,6.716545,125.503030,0.006773,3.999745,80.060606,165,3159,0
1,ENST00000000233,261,ENSG00000004059,CAAACTG,0.006292,2.849892,109.027711,0.007084,3.197289,107.190964,0.007168,2.686892,94.572289,166,3159,0
2,ENST00000000233,316,ENSG00000004059,GAAACAG,0.007237,2.782710,105.440237,0.007050,3.463964,98.539053,0.007141,2.083775,88.985799,169,3159,0
3,ENST00000000233,332,ENSG00000004059,AGAACAT,0.010299,6.042386,129.304348,0.008195,2.733641,97.320652,0.005806,2.252565,89.350000,184,3159,0
4,ENST00000000233,368,ENSG00000004059,AGGACAA,0.011535,6.031751,118.000000,0.012108,5.748927,121.485876,0.009484,3.958192,85.220904,177,3159,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67315,ENST00000641834,1348,ENSG00000167747,GGGACAT,0.010009,3.119023,118.167630,0.008217,4.816532,117.213873,0.007304,3.959769,82.101734,173,2880,1
67316,ENST00000641834,1429,ENSG00000167747,CTGACAC,0.008481,4.634631,110.052349,0.012667,8.901409,114.590604,0.005008,3.505034,81.248322,149,2880,0
67317,ENST00000641834,1531,ENSG00000167747,TGGACAC,0.007289,3.702195,113.851562,0.007072,4.365023,114.125000,0.006613,2.339922,84.251563,128,2880,1
67318,ENST00000641834,1537,ENSG00000167747,CTGACCA,0.006971,3.148815,109.843704,0.006916,6.331704,122.340741,0.006476,2.578881,82.337778,135,2880,0
67319,ENST00000641834,1693,ENSG00000167747,TTGACAT,0.006879,3.576822,105.493458,0.007417,8.748692,113.588785,0.007295,2.689458,79.108411,107,2880,0

In [237]:
X2_min_features

,transcript_position,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3,...,5-mer_GAACT,5-mer_GGACA,5-mer_GGACC,5-mer_GGACT,5-mer_TAACA,5-mer_TAACC,5-mer_TAACT,5-mer_TGACA,5-mer_TGACC,5-mer_TGACT
0,244,0.008722,3.990545,123.090909,0.010218,6.716545,125.503030,0.006773,3.999745,80.060606,...,False,False,False,False,False,False,False,False,False,False
1,261,0.006292,2.849892,109.027711,0.007084,3.197289,107.190964,0.007168,2.686892,94.572289,...,False,False,False,False,False,False,False,False,False,False
2,316,0.007237,2.782710,105.440237,0.007050,3.463964,98.539053,0.007141,2.083775,88.985799,...,False,False,False,False,False,False,False,False,False,False
3,332,0.010299,6.042386,129.304348,0.008195,2.733641,97.320652,0.005806,2.252565,89.350000,...,False,False,False,False,False,False,False,False,False,False
4,368,0.011535,6.031751,118.000000,0.012108,5.748927,121.485876,0.009484,3.958192,85.220904,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67315,1348,0.010009,3.119023,118.167630,0.008217,4.816532,117.213873,0.007304,3.959769,82.101734,...,False,True,False,False,False,False,False,False,False,False
67316,1429,0.008481,4.634631,110.052349,0.012667,8.901409,114.590604,0.005008,3.505034,81.248322,...,False,False,False,False,False,False,False,True,False,False
67317,1531,0.007289,3.702195,113.851562,0.007072,4.365023,114.125000,0.006613,2.339922,84.251563,...,False,True,False,False,False,False,False,False,False,False
67318,1537,0.006971,3.148815,109.843704,0.006916,6.331704,122.340741,0.006476,2.578881,82.337778,...,False,False,False,False,False,False,False,False,True,False
67319,1693,0.006879,3.576822,105.493458,0.007417,8.748692,113.588785,0.007295,2.689458,79.108411,...,False,False,False,False,False,False,False,True,False,False

In [238]:
model1 = pickle.load(open('xgb_model_1.pkl', 'rb'))
model2 = pickle.load(open('xgb_model_2.pkl','rb'))
X1_predicted = model1.predict_proba(X1_min_features)[:, 1]
X2_predicted = model2.predict_proba(X2_min_features)[:, 1]

In [239]:
summary_df_final1 = summary_df
summary_df_final1['score'] =X1_predicted.tolist()
summary_df_final2 = summary_df
summary_df_final2['score']= X2_predicted.tolist()

In [240]:
summary_df_final1

,transcript_id,transcript_position,gene_id,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3,read_count,expression_count,label,score
0,ENST00000000233,244,ENSG00000004059,AAGACCA,0.008722,3.990545,123.090909,0.010218,6.716545,125.503030,0.006773,3.999745,80.060606,165,3159,0,0.074175
1,ENST00000000233,261,ENSG00000004059,CAAACTG,0.006292,2.849892,109.027711,0.007084,3.197289,107.190964,0.007168,2.686892,94.572289,166,3159,0,0.084994
2,ENST00000000233,316,ENSG00000004059,GAAACAG,0.007237,2.782710,105.440237,0.007050,3.463964,98.539053,0.007141,2.083775,88.985799,169,3159,0,0.046752
3,ENST00000000233,332,ENSG00000004059,AGAACAT,0.010299,6.042386,129.304348,0.008195,2.733641,97.320652,0.005806,2.252565,89.350000,184,3159,0,0.049987
4,ENST00000000233,368,ENSG00000004059,AGGACAA,0.011535,6.031751,118.000000,0.012108,5.748927,121.485876,0.009484,3.958192,85.220904,177,3159,0,0.117183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67315,ENST00000641834,1348,ENSG00000167747,GGGACAT,0.010009,3.119023,118.167630,0.008217,4.816532,117.213873,0.007304,3.959769,82.101734,173,2880,1,0.044916
67316,ENST00000641834,1429,ENSG00000167747,CTGACAC,0.008481,4.634631,110.052349,0.012667,8.901409,114.590604,0.005008,3.505034,81.248322,149,2880,0,0.060924
67317,ENST00000641834,1531,ENSG00000167747,TGGACAC,0.007289,3.702195,113.851562,0.007072,4.365023,114.125000,0.006613,2.339922,84.251563,128,2880,1,0.047084
67318,ENST00000641834,1537,ENSG00000167747,CTGACCA,0.006971,3.148815,109.843704,0.006916,6.331704,122.340741,0.006476,2.578881,82.337778,135,2880,0,0.113907
67319,ENST00000641834,1693,ENSG00000167747,TTGACAT,0.006879,3.576822,105.493458,0.007417,8.748692,113.588785,0.007295,2.689458,79.108411,107,2880,0,0.047013

In [241]:
summary_df_final1[["transcript_id","transcript_position","score"]].to_csv('dataset1csv1.csv',index=False)

In [242]:
summary_df_final2[["transcript_id","transcript_position","score"]].to_csv('dataset1csv2.csv',index=False)

In [243]:
df0info = pd.merge(df0, data, on=['transcript_id', 'transcript_position'], how='inner')

In [244]:
og_df = df0info.iloc[: , 1:]

In [245]:
count_df1 = og_df.groupby(['transcript_id', 'transcript_position']).size().reset_index(name='read_count')
count_df2 = og_df.groupby(['transcript_id']).size().reset_index(name='expression_count') #most genes are likely to produce unique transcripts
df = og_df.merge(count_df1, on=['transcript_id', 'transcript_position'])
df = df.merge(count_df2, on=['transcript_id'])

agg_functions = {
    'gene_id': 'first',
    'combined nucleotides': 'first',
    'dwelling_time1': 'mean',
    'sd1': 'mean',
    'mean1': 'mean',
    'dwelling_time2': 'mean',
    'sd2': 'mean',
    'mean2': 'mean',
    'dwelling_time3': 'mean',
    'sd3': 'mean',
    'mean3': 'mean',
    'label': 'sum'
}

summary_df = og_df.groupby(['transcript_id', 'transcript_position']).agg(agg_functions).reset_index()

summary_df = summary_df.merge(count_df1, on=['transcript_id', 'transcript_position'])
summary_df = summary_df.merge(count_df2, on=['transcript_id'])

summary_df['label_percentage'] = summary_df['label'] / summary_df['read_count'] * 100
summary_df = summary_df.rename(columns={'label': 'label_sum'})
summary_df['label'] = summary_df['label_percentage'].apply(lambda x: 0 if x == 0 else 1)

In [246]:
agg_functions = {
    'gene_id': 'first',
    'combined nucleotides': 'first',
    'dwelling_time1': 'mean',
    'sd1': 'mean',
    'mean1': 'mean',
    'dwelling_time2': 'mean',
    'sd2': 'mean',
    'mean2': 'mean',
    'dwelling_time3': 'mean',
    'sd3': 'mean',
    'mean3': 'mean',
    'label': 'first'
}

summary_df1 = og_df.groupby(['transcript_id', 'transcript_position']).agg(agg_functions).reset_index()
summary_df1['label'].equals(summary_df['label'])

True

In [247]:
summary_df = summary_df.drop(columns=['label_percentage', 'label_sum'])
summary_df

,transcript_id,transcript_position,gene_id,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3,read_count,expression_count,label
0,ENST00000000233,244,ENSG00000004059,AAGACCA,0.008264,4.223784,123.702703,0.009373,7.382162,125.913514,0.007345,4.386989,80.570270,185,3449,0
1,ENST00000000233,261,ENSG00000004059,CAAACTG,0.006609,3.216424,109.681395,0.006813,3.226535,107.889535,0.007710,3.016599,94.290698,172,3449,0
2,ENST00000000233,316,ENSG00000004059,GAAACAG,0.007570,2.940541,105.475676,0.007416,3.642703,98.947027,0.007555,2.087146,89.364324,185,3449,0
3,ENST00000000233,332,ENSG00000004059,AGAACAT,0.010620,6.476350,129.355000,0.008632,2.899200,97.836500,0.006101,2.236520,89.154000,200,3449,0
4,ENST00000000233,368,ENSG00000004059,AGGACAA,0.010701,6.415051,117.924242,0.011479,5.870303,121.954545,0.010019,4.260253,85.178788,198,3449,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,ENST00000641834,1348,ENSG00000167747,GGGACAT,0.009594,3.294164,118.232877,0.007300,4.929726,116.342466,0.006555,4.005616,82.004110,73,1323,1
121834,ENST00000641834,1429,ENSG00000167747,CTGACAC,0.008393,4.511014,110.969565,0.010305,9.105797,114.927536,0.005568,3.644638,80.497101,69,1323,0
121835,ENST00000641834,1531,ENSG00000167747,TGGACAC,0.008161,3.918438,113.968750,0.006877,4.759688,113.562500,0.006410,2.181563,84.190625,64,1323,1
121836,ENST00000641834,1537,ENSG00000167747,CTGACCA,0.008044,3.191228,109.354386,0.007419,6.552982,123.263158,0.006472,2.540877,82.289474,57,1323,0
121837,ENST00000641834,1693,ENSG00000167747,TTGACAT,0.008788,4.090577,105.807692,0.006908,8.702885,113.134615,0.008337,2.576731,78.536538,52,1323,0

In [248]:
# function to convert features
def sequence_to_features(seq):
    """
    Convert a 7-letter sequence into binary features for the first and last letters.
    
    Parameters:
    - seq: A string of 7 letters (A, T, C, G)
    
    Returns:
    - A dictionary with binary features for the first and last letters.
    """
    letters = ['A', 'T', 'C', 'G']
    features = {}
    
    first_char = seq[0]
    last_char = seq[-1]
    
    for letter in letters:
        features[f"1{letter}"] = first_char == letter
        features[f"7{letter}"] = last_char == letter
            
    return features

In [249]:
new_df = summary_df.copy()

feature_dicts = new_df['combined nucleotides'].apply(sequence_to_features)
features_df = feature_dicts.apply(pd.Series)
new_df = pd.concat([new_df, features_df], axis=1)

In [250]:
new_df['5-mer'] = new_df['combined nucleotides'].apply(lambda x: x[1:-1])
new_df.groupby(['5-mer'])['label'].sum().sort_values(ascending=False)

5-mer
GGACT    1440
GAACT     783
GGACA     691
GGACC     552
AGACT     525
TGACT     430
AAACT     255
GAACA     187
AGACA     147
GAACC     124
TGACC      90
TAACT      71
TGACA      68
AGACC      60
AAACA      38
AAACC      11
TAACC       2
TAACA       1
Name: label, dtype: int64

In [251]:
from sklearn.preprocessing import LabelEncoder

combined = new_df.copy()

label_encoder = LabelEncoder()
combined['transcript_id'] = label_encoder.fit_transform(combined['transcript_id'])
combined['gene_id'] = label_encoder.fit_transform(combined['gene_id'])
combined

,transcript_id,transcript_position,gene_id,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,...,label,1A,7A,1T,7T,1C,7C,1G,7G,5-mer
0,0,244,10,AAGACCA,0.008264,4.223784,123.702703,0.009373,7.382162,125.913514,...,0,True,True,False,False,False,False,False,False,AGACC
1,0,261,10,CAAACTG,0.006609,3.216424,109.681395,0.006813,3.226535,107.889535,...,0,False,False,False,False,True,False,False,True,AAACT
2,0,316,10,GAAACAG,0.007570,2.940541,105.475676,0.007416,3.642703,98.947027,...,0,False,False,False,False,False,False,True,True,AAACA
3,0,332,10,AGAACAT,0.010620,6.476350,129.355000,0.008632,2.899200,97.836500,...,0,True,False,False,True,False,False,False,False,GAACA
4,0,368,10,AGGACAA,0.010701,6.415051,117.924242,0.011479,5.870303,121.954545,...,0,True,True,False,False,False,False,False,False,GGACA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,5332,1348,2764,GGGACAT,0.009594,3.294164,118.232877,0.007300,4.929726,116.342466,...,1,False,False,False,True,False,False,True,False,GGACA
121834,5332,1429,2764,CTGACAC,0.008393,4.511014,110.969565,0.010305,9.105797,114.927536,...,0,False,False,False,False,True,True,False,False,TGACA
121835,5332,1531,2764,TGGACAC,0.008161,3.918438,113.968750,0.006877,4.759688,113.562500,...,1,False,False,True,False,False,True,False,False,GGACA
121836,5332,1537,2764,CTGACCA,0.008044,3.191228,109.354386,0.007419,6.552982,123.263158,...,0,False,True,False,False,True,False,False,False,TGACC
121837,5332,1693,2764,TTGACAT,0.008788,4.090577,105.807692,0.006908,8.702885,113.134615,...,0,False,False,True,True,False,False,False,False,TGACA

In [252]:
combined = pd.get_dummies(combined, columns=['5-mer'], drop_first=False)
combined

,transcript_id,transcript_position,gene_id,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,...,5-mer_GAACT,5-mer_GGACA,5-mer_GGACC,5-mer_GGACT,5-mer_TAACA,5-mer_TAACC,5-mer_TAACT,5-mer_TGACA,5-mer_TGACC,5-mer_TGACT
0,0,244,10,AAGACCA,0.008264,4.223784,123.702703,0.009373,7.382162,125.913514,...,False,False,False,False,False,False,False,False,False,False
1,0,261,10,CAAACTG,0.006609,3.216424,109.681395,0.006813,3.226535,107.889535,...,False,False,False,False,False,False,False,False,False,False
2,0,316,10,GAAACAG,0.007570,2.940541,105.475676,0.007416,3.642703,98.947027,...,False,False,False,False,False,False,False,False,False,False
3,0,332,10,AGAACAT,0.010620,6.476350,129.355000,0.008632,2.899200,97.836500,...,False,False,False,False,False,False,False,False,False,False
4,0,368,10,AGGACAA,0.010701,6.415051,117.924242,0.011479,5.870303,121.954545,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,5332,1348,2764,GGGACAT,0.009594,3.294164,118.232877,0.007300,4.929726,116.342466,...,False,True,False,False,False,False,False,False,False,False
121834,5332,1429,2764,CTGACAC,0.008393,4.511014,110.969565,0.010305,9.105797,114.927536,...,False,False,False,False,False,False,False,True,False,False
121835,5332,1531,2764,TGGACAC,0.008161,3.918438,113.968750,0.006877,4.759688,113.562500,...,False,True,False,False,False,False,False,False,False,False
121836,5332,1537,2764,CTGACCA,0.008044,3.191228,109.354386,0.007419,6.552982,123.263158,...,False,False,False,False,False,False,False,False,True,False
121837,5332,1693,2764,TTGACAT,0.008788,4.090577,105.807692,0.006908,8.702885,113.134615,...,False,False,False,False,False,False,False,True,False,False

In [253]:
combined = combined.drop(columns=['combined nucleotides'])
combined

,transcript_id,transcript_position,gene_id,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,...,5-mer_GAACT,5-mer_GGACA,5-mer_GGACC,5-mer_GGACT,5-mer_TAACA,5-mer_TAACC,5-mer_TAACT,5-mer_TGACA,5-mer_TGACC,5-mer_TGACT
0,0,244,10,0.008264,4.223784,123.702703,0.009373,7.382162,125.913514,0.007345,...,False,False,False,False,False,False,False,False,False,False
1,0,261,10,0.006609,3.216424,109.681395,0.006813,3.226535,107.889535,0.007710,...,False,False,False,False,False,False,False,False,False,False
2,0,316,10,0.007570,2.940541,105.475676,0.007416,3.642703,98.947027,0.007555,...,False,False,False,False,False,False,False,False,False,False
3,0,332,10,0.010620,6.476350,129.355000,0.008632,2.899200,97.836500,0.006101,...,False,False,False,False,False,False,False,False,False,False
4,0,368,10,0.010701,6.415051,117.924242,0.011479,5.870303,121.954545,0.010019,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121833,5332,1348,2764,0.009594,3.294164,118.232877,0.007300,4.929726,116.342466,0.006555,...,False,True,False,False,False,False,False,False,False,False
121834,5332,1429,2764,0.008393,4.511014,110.969565,0.010305,9.105797,114.927536,0.005568,...,False,False,False,False,False,False,False,True,False,False
121835,5332,1531,2764,0.008161,3.918438,113.968750,0.006877,4.759688,113.562500,0.006410,...,False,True,False,False,False,False,False,False,False,False
121836,5332,1537,2764,0.008044,3.191228,109.354386,0.007419,6.552982,123.263158,0.006472,...,False,False,False,False,False,False,False,False,True,False
121837,5332,1693,2764,0.008788,4.090577,105.807692,0.006908,8.702885,113.134615,0.008337,...,False,False,False,False,False,False,False,True,False,False

In [254]:
combined.value_counts('gene_id')

gene_id
1528    274
977     253
2632    250
2005    230
1929    229
       ...
857       1
863       1
887       1
2800      1
1412      1
Name: count, Length: 3852, dtype: int64

In [255]:
X = combined.drop('label', axis=1)
y = combined['label']

In [256]:
from imblearn.under_sampling import TomekLinks, RandomUnderSampler
from imblearn.pipeline import Pipeline
from imblearn.over_sampling import SMOTE, ADASYN
from imblearn.combine import SMOTETomek

# ADASYN followed by Tomek Links Pipeline
adasyn_tomek = Pipeline([
    ('adasyn', ADASYN(random_state=42)),
    ('tomek', TomekLinks())
])

# Dictionary of resampling methods
resampling_methods = {
    'RandomUnderSampler': RandomUnderSampler(random_state=42),
    'TomekLinks': TomekLinks(),
    'SMOTE': SMOTE(random_state=42),
    'ADASYN': ADASYN(random_state=42),
    'SMOTETomek': SMOTETomek(random_state=42),
    'ADASYN_Tomek': adasyn_tomek
}

In [257]:
# Drop 'gene_id' from X
X1_min_features = X.drop(columns=['gene_id', 'transcript_id', 'transcript_position'])
X2_min_features = X.drop(columns=['gene_id', 'transcript_id'])

In [258]:
model1 = pickle.load(open('xgb_model_1.pkl', 'rb'))
model2 = pickle.load(open('xgb_model_2.pkl','rb'))
X1_predicted = model1.predict_proba(X1_min_features)[:, 1]
X2_predicted = model2.predict_proba(X2_min_features)[:, 1]

In [259]:
summary_df_final1 = summary_df
summary_df_final1['score'] =X1_predicted.tolist()
summary_df_final2 = summary_df
summary_df_final2['score']= X2_predicted.tolist()

In [262]:
summary_df_final1[["transcript_id","transcript_position","score"]].to_csv('dataset0csv1.csv',index=False)

In [263]:
summary_df_final2[["transcript_id","transcript_position","score"]].to_csv('dataset0csv2.csv',index=False)

In [270]:
df1info.iloc[: , 1:]

,transcript_id,transcript_position,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3,gene_id,label
0,ENST00000000233,244,AAGACCA,0.00465,2.16,127.0,0.00640,3.90,127.0,0.00797,8.75,83.7,ENSG00000004059,0
1,ENST00000000233,244,AAGACCA,0.02690,4.43,106.0,0.01860,10.00,123.0,0.00863,6.20,80.0,ENSG00000004059,0
2,ENST00000000233,244,AAGACCA,0.00432,3.10,108.0,0.01200,8.26,125.0,0.01590,2.89,78.7,ENSG00000004059,0
3,ENST00000000233,244,AAGACCA,0.00996,4.52,123.0,0.01750,8.51,128.0,0.00498,2.63,80.0,ENSG00000004059,0
4,ENST00000000233,244,AAGACCA,0.00764,2.81,124.0,0.00772,4.22,126.0,0.00474,5.84,80.9,ENSG00000004059,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7102083,ENST00000641784,3266,CTAACTT,0.00589,1.20,93.5,0.00270,1.58,102.0,0.01530,2.19,92.3,ENSG00000284707,0
7102084,ENST00000641784,3266,CTAACTT,0.00401,2.00,92.1,0.00764,3.00,99.1,0.00469,1.37,92.6,ENSG00000284707,0
7102085,ENST00000641784,3266,CTAACTT,0.00430,1.32,91.8,0.00270,1.33,100.0,0.00550,1.37,93.9,ENSG00000284707,0
7102086,ENST00000641784,3266,CTAACTT,0.00280,2.70,90.7,0.00564,1.45,100.0,0.01600,1.90,92.3,ENSG00000284707,0
7102087,ENST00000641784,3266,CTAACTT,0.00332,3.17,91.7,0.00432,2.10,102.0,0.01320,1.72,93.5,ENSG00000284707,0

In [267]:
og_df = df2.iloc[: , 1:]
og_df

,transcript_id,transcript_position,combined nucleotides,dwelling_time1,sd1,mean1,dwelling_time2,sd2,mean2,dwelling_time3,sd3,mean3
0,tx_id_0,0,AAAACCT,0.01220,3.99,106.0,0.00337,4.56,102.0,0.00664,4.200,84.2
1,tx_id_0,0,AAAACCT,0.03020,2.32,107.0,0.00443,2.36,102.0,0.00332,2.130,79.2
2,tx_id_0,0,AAAACCT,0.00232,5.55,110.0,0.00664,7.04,99.3,0.00232,2.210,86.6
3,tx_id_0,0,AAAACCT,0.00465,2.10,104.0,0.00996,3.90,108.0,0.00401,2.180,82.2
4,tx_id_0,0,AAAACCT,0.02110,3.49,103.0,0.00531,3.80,101.0,0.00997,2.180,81.2
...,...,...,...,...,...,...,...,...,...,...,...,...
1171935,tx_id_6,1880,CGAACAA,0.00675,8.33,111.0,0.00759,6.15,104.0,0.00896,2.420,91.6
1171936,tx_id_6,1880,CGAACAA,0.00529,4.81,106.0,0.00332,7.42,101.0,0.00996,1.940,90.9
1171937,tx_id_6,1880,CGAACAA,0.01460,7.72,104.0,0.00266,1.21,92.4,0.02150,2.110,90.0
1171938,tx_id_6,1880,CGAACAA,0.00610,4.21,119.0,0.00232,5.44,94.8,0.00199,2.000,82.6
1171939,tx_id_6,1880,CGAACAA,0.00232,3.02,96.8,0.00465,1.20,91.5,0.00398,0.913,89.8